<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Alta Cliente</title>
</head>
<body>
    <h1>Registro de Clientes</h1>
    <form th:object="${cliente}" th:action="@{/guardar}" method="post">
		<label for="id">ID</label><br>
		       <input type="text" id="id" name="id" required th:field="*{id}"><br><br>
        <label for="nombre">NOMBRE:</label><br>
              <input type="text" id="nombre" name="nombre" th:field="*{nombre}" required><br><br>

        <label for="domicilio">DOMICILIO:</label><br>
             <input type="text" id="domicilio" name="domicilio" required th:field="*{domicilio}"><br><br>

        <label for="correo">CORREO ELECTRONICO</label><br>
             <input type="text" id="correo" name="correo" required th:field="*{correoElec}"><br><br>
		
		<label for="user">USUARIO</label><br>
		        <input type="text" id="user" name="user" required th:field="*{user}"><br><br>
				
		<label for="clave">CLAVE</label><br>
				 <input type="text" id="clave" name="clave" required th:field="*{clave}"><br><br>
				  
				 <div>
				     <label for="estado">ESTADO</label>
				     <select id="estado" name="estado">
				         <option value="true" th:field="*{estado}">Habilitado</option>
				         <option value="false" th:field="*{estado}">Inabilitado</option>
				     </select>
				 </div>

        <button type="submit">Registrar</button>
    </form>
</body>
</html>